{% load staticfiles%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="background-color: cornsilk">
    <div>
        <h1 align="center" style="color:chocolate">유니스트 최고 멋쟁이</h1>
    </div>
    <div>
        <br>
        <h3 align="center">I Have를 찾아주셔서 감사합니다</h3>
        <br><br><br>
        <h4 align="center">Front-End Developer : 김태수
            <img src="{% static 'img/aboutus-img/taesoo.jpg'  %}"  width="100px" align="center">
        </h4>
        <h4 align="center">Front-End Developer : 조영상
            <img src="{% static 'img/aboutus-img/yeongsang.jpg'  %}"  width="100px" align="center">
        </h4>
        <h4 align="center">Back-End Developer : 오재엽       
            <img src="{% static 'img/aboutus-img/jaeyeop.jpg'  %}"  width="100px" align="center">
        </h4>
        <h4 align="center">Back-End Developer : 함형찬     
            <img src="{% static 'img/aboutus-img/hyeongchan.jpg'  %}"  width="100px" align="center">
        </h4>
        <h4 align="center">Designer : 오은서       
            <img src="{% static 'img/aboutus-img/eunseo.jpg'  %}"  width="100px" align="center">
        </h4>

    </div>
</body>
</html>