{% extends "cookapp/base.html" %}
{% load staticfiles%}
{% load cookapp_extras %}

{% block link %}
    <link rel="stylesheet" media= "(max-width: 640px)" href="{% static 'css/mobile.css' %}">
{% endblock link %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/startpage1.css' %}">
<section class="containerBox">   
    <div class="leftBox">
        <select id="leftValues"  multiple>

        {% for category,items in data.items %}
            <optgroup label="{{category}}" >
                {% for ingredient in items %}
                <option category="{{category}}" value1="0" value2="{{forloop.counter}}" name="{{ingredient.id}}">
                    <span>{{ingredient.name}}</span>
                 </option>
                {% endfor %}
            </optgroup>
        {% endfor %}

        </select>
    </div>
    
    <div class="buttons">
        <input type="button" class= "bR" id="btnRight" value="담기!" />
        <input type="button" class= "bL" id="btnLeft" value="빼기!" />
    </div>

    <div class="rightBox">
        <div  class="jiho" style="border: 3px solid #999">  
            <h6>기본 필수 재료</h6>
              소금/간장/설탕/고춧가루/기름
        </div>
        <select id="rightValues"  multiple>
        <!-- <optgroup label="base"> -->

                <!-- <option disabled><div width="100%">------------</div></option> -->
            </select>
    </div>       
</section>
<div class="searchButton" >
        <button type="submit" class="mobileButton" id="submit_items">담은 재료로 요리 보기! </button>
</div>
<form method="GET" style="visibility:hidden" id="item_form" action="{%url 'list'%}">
</form>



    <!-- ****** Footer Menu Area End ****** -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    
// function hideandshow(elem) {
//     $(elem).children().each(function(){
//         if("none"===$(this).css("display")){
//             $(this).css("display","block");
//         }else{
//             $(this).css("display","none");
//         }
//     });
// }

    $("#btnRight").click(function () {
        var selectedItem = $("#leftValues option:selected");
        var copyItemLeft = $(selectedItem);
        if((selectedItem.attr("value1"))==0){   
            $(selectedItem).attr("value1",1);
            $(copyItemLeft).clone().appendTo("#rightValues");
            $(selectedItem).attr("style","background-color:rgb(207,204,204);")
        }
    });


    $("#btnLeft").click(function () {
        var selectedItems = $("#rightValues option:selected");
        var ids = [];
        var categories = [];
        selectedItems.each(function(){
            ids.push($(this).attr('value2'));
            categories.push($(this).attr('category'))
        });
        var size = ids.length;
        for(var i=0;i<size;i++){
            var children = $("#leftValues").children();
            children.each(function(){
                if($(this).attr('label')===categories[i]){
                    var childchildren = $(this).children();
                    childchildren.each(function(){
                        if($(this).attr("value2")==ids[i]){
                            $(this).attr("value1",0);
                            $(this).attr("style","")
                        }
                    });
                }
            });
        }
        console.log(ids);
        console.log(categories);
        {% comment %} var selectedItem = $("#rightValues option:selected");
        var category = selectedItem.attr('category');
        var id = selectedItem.attr('value2');
        console.log(id)
        var children = $("#leftValues").children();
        children.each(function(){
            if($(this).attr('label')===category){
                var childchildren = $(this).children();
                childchildren.each(function(){
                    if($(this).attr("value2")==id){
                        $(this).attr("value1",0);
                        $(this).attr("style","")
                    }
                });
            }
        }); {% endcomment %}
        selectedItems.detach();
    });

    <!-- 제출 버튼 -->
    $("#submit_items").click(function(){
        var form = $('#item_form')
        var data = new Array();
        var selectedItem = $("#rightValues").children();
        selectedItem.each(function(){
            data.push($(this).attr("name"));
        });
        console.log(data);
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "ingredients");
        hiddenField.setAttribute("value", data);
        
        form.append(hiddenField);
        form.submit();
    })

</script> 
{% endblock content %}