{% extends "cookapp/base.html" %}
{% load cookapp_extras %}
{% load staticfiles%}
{% block link %}
    <link rel="stylesheet" media= "(max-width: 640px)" href="{% static 'css/mobile_arch.css' %}">
{% endblock link%}
{% block content %}
<!-- ****** Breadcumb Area Start ****** -->
    <!-- ****** Breadcumb Area End ****** -->
    <link href="{% static 'css/archieve.css' %}" rel="stylesheet">

    <!-- ****** Archive Area Start ****** -->
    <section class="archive-area section_padding_80">
        

                <div class="buttons_div">
                <div>    
                    <input type="button" onclick="hideandshow1(), changebutton()" class="addButton" value="{{request.path|value}}" id="addButton"/>
                </div>
                {% for ingredient in ingredients_obj %}
                <input type="button" value="{{ingredient}}" class="ingredients">
                {% endfor %}
                </div>
                <!--{% init_counter %}-->
                <!--{% init_delay_counter %}-->

                <div class="container">
                        <div class="row">
                {% for recipe in posts %}
                            <!-- Single Post -->
                <div class="col-12 col-md-6 col-lg-4" name="recipe">
                    <div class="single-post wow fadeInUp" data-wow-delay="{% delay_counter %}s">
                        <!-- Post Thumb -->
                        <div class="post-thumb">
                        {% comment %} 썸네일 넣는 공간 {% endcomment %}
                            <img src="{{recipe.thumbnail}}" alt="">                            
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <div class="post-meta d-flex">
                                <div class="post-author-date-area d-flex">
                                    <!-- Post Author -->
                                        <div class="post-author">
                                            <a href="#">관리자</a>
                                        </div>
                                    {% comment %} <!-- Post Date -->
                                    <div class="post-date">
                                        <a href="#">May 19, 2017</a>
                                    </div> {% endcomment %}
                                </div>
                                <!-- Post Comment & Share Area -->
                                <div class="post-comment-share-area d-flex">
                                    <!-- Post Favourite -->
                                    <div class="post-favourite">
                                        <a href="#" disabled="disabled"><i class="fa fa-eye" aria-hidden="true"></i>{{recipe.see}}</a>
                                    </div>
                                    <!-- Post Comments -->
                                    {% comment %} <div class="post-comments">
                                        <a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> 12</a>
                                    </div> {% endcomment %}
                                    <!-- 공유기능--> 
                                    <!-- Post Share -->
                                    <div class="post-share">
                                        <a target="_blank" href="{{recipe.url}}"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <a href="#" onclick="view_user(this)" name="{{forloop.counter}}" _id="{{recipe.id}}">
                            {% comment %} 레시피 요리 이름 {% endcomment %}
                                <h6 class="post-headline food-time text-center">{{recipe.time}}<h6>
                                <h4 class="post-headline text-center">{{recipe.name}}</h4>
                            </a>
                            <div id="popup_user{{forloop.counter}}" class="Pstyle popup_user">
                                <span class="b-close">
                                        <button class="iKon" onclick="byebye(this)" name="{{forloop.counter}}">x</button>
                                </span>
                                     <div class="content2" style=""> 
                                      <div><h1>{{recipe.name}}</h1><br></div>
                                      <div class="youtube_div"``>
                                            <iframe 
                                            height="100%" width="100%" class="youtube_player"
                                            id="youtube_player_{{forloop.counter}}"
                                            src="{{recipe.convert_youtube}}"
                                            frameborder="0" allow="accelerometer; autoplay; encrypted-media;
                                             gyroscope; picture-in-picture" allowfullscreen
                                             style="overflow:hidden;height:400px; width:100%" ></iframe>
                                          
                                     </div>
                                     <div><br><h3>레시피</h3>
                                        <p>
                                            {{recipe.content|linebreaks}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                

                <div class="col-12">
                    <div class="pagination-area d-sm-flex mt-15">
                        <nav aria-label="#">
                            <ul class="pagination">
                                {% if posts.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{posts.previous_page_number}}&ingredients={{ingredients}}"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Prev</a>
                                </li>
                                {% endif %}
                                {% for a in posts.number|make_range:posts.paginator.num_pages %}
                                <li class="page-item {{posts.number|active:a}}"><a class="page-link" href="?page={{a}}&ingredients={{ingredients}}">{{a}}</a></li>
                                {% endfor %}
                                {% if posts.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{posts.next_page_number}}&ingredients={{ingredients}}">Next <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                        <div class="page-status">
                            <p>Page {{posts.number}} of {{posts.paginator.num_pages}} results</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ****** Archive Area End ****** -->

{% endblock content %}
{% block script%}
<script src="{% static 'js/jquery/jquery.bpopup.js' %}"></script>
<script src="{% static 'js/jquery/jquery.bpopup.min.js' %}"></script>
<script>

function view_user(elem) {
    var id = elem.getAttribute("name");
    var _id = elem.getAttribute("_id");
    $.ajax({ url: "/see/".concat(_id), // 클라이언트가 HTTP 요청을 보낼 서버의 URL 주소 data: { name: "홍길동" }, // HTTP 요청과 함께 서버로 보낼 데이터 
    method: "GET", // HTTP 요청 메소드(GET, POST 등) 
    dataType: "json" // 서버에서 보내줄 데이터의 타입 
    });

    $("#popup_user".concat(id)).bPopup({ 
            modalClose: false,
            opacity: 0.6,
            positionStyle: 'fixed'
    }); 
    var position = ($(window).width())/4;
    $("#popup_user".concat(id)).css("left",position.toString().concat("px"));
    var width = $("#youtube_player_".concat(id)).width();
    console.log(width);
    $("#youtube_player_".concat(id)).css("height",width*9/16);
}
function byebye(elem){

    var id = elem.getAttribute("name");
    $("#youtube_player_".concat(id))[0].contentWindow.postMessage('{"event":"command","func":"' + 'stopVideo' + '","args":""}', '*'); 
    $("#popup_user").bPopup().close();
}

function hideandshow1(elem) {
    if({{request.path}} == '/list/'){
        location.href='/add?ingredients={{ingredients}}';
    }else{
        location.href='/list/?ingredients={{ingredients}}';
    }


}

function changebutton() {
    var elem = document.getElementById("addButton");
    if (elem.value=="재료 하나 추가!") elem.value = "원래 재료 보기!";
    else elem.value = "재료 하나 추가!";
}

$( document ).ready( function() {
    $( window ).resize( function() {
        var width = $(window).width();
        console.log(width/2-50);
        $(".youtube_player").css("height",(width/2-50)*9/16);
    } );
} );

{% if message %}
    alert({{message}})
{% endif %}

</script>
{% endblock script%}
