{% extends "cookapp/base.html" %}
{% load cookapp_extras %}
{% load staticfiles%}
{% block link %}
    <link href="{% static 'css/archieve.css' %}" rel="stylesheet">
{% endblock link%}
{% block content %}
    
<!-- ****** Breadcumb Area Start ****** -->
    <div class="breadcumb-area" style="background-image: url(/static/img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="bradcumb-title text-center">
                        <h2>Archive Page</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcumb-nav">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Archive Page</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ****** Breadcumb Area End ****** -->

    <!-- ****** Archive Area Start ****** -->
    <input type="text"/>
    <section class="archive-area section_padding_80 d-flex justify-content-center">
        <div>
        <input type="button" onclick="hideandshow1(), changebutton()" class="addButton" value="재료 하나 추가!" id="addButton"/>
        </div>
        <div class="container">
            <div class="row">
            <!-- Single Post -->
               
                <div class="col-12 col-md-6 col-lg-4" id="initialMenu" style="display: block" name="menu">
                    <div class="single-post wow fadeInUp" data-wow-delay="0.1s">
                        <!-- Post Thumb -->
                        <div class="post-thumb">
                            <img src="img/blog-img/2.jpg" alt="">
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <div class="post-meta d-flex">
                                <div class="post-author-date-area d-flex">
                                    <!-- Post Author -->
                                    <div class="post-author">
                                        <a href="#">By Marian</a>
                                    </div>
                                    <!-- Post Date -->
                                    <div class="post-date">
                                        <a href="#">May 19, 2017</a>
                                    </div>
                                </div>
                                <!-- Post Comment & Share Area -->
                                <div class="post-comment-share-area d-flex">
                                    <!-- Post Favourite -->
                                    <div class="post-favourite">
                                        <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> 10</a>
                                    </div>
                                    <!-- Post Comments -->
                                    <div class="post-comments">
                                        <a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> 12</a>
                                    </div>
                                    <!-- Post Share -->
                                    <div class="post-share">
                                        <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <a href="#" onclick="view_user()">
                                <h4 class="post-headline">이거 클릭하면 팝업</h4>
                            </a>
                            
                            <div id="popup_user" class="Pstyle popup_user">
                                <span class="b-close">
                                        <button class="iKon" onclick="byebye()">x</button>
                                </span>
                                     <div class="content2" style=""> 
                                      <div><h1>김치볶음밥</h1><br></div>
                                      <div >
                                            <iframe 
                                            height="100%" width="100%"
                                            src="https://www.youtube.com/embed/xp9kwuGBx9s"
                                            frameborder="0" allow="accelerometer; autoplay; encrypted-media;
                                             gyroscope; picture-in-picture" allowfullscreen
                                             style="overflow:hidden;height:400px; width:100%" ></iframe>
                                          
                                     </div>
                                     <div><br><h3>레시피</h3>
                                        <p>
                                            안녕하세요. <br><br>
                                                집에서 할 수 있는 간단한 요리 황금레시피를 알려드리는 일반인입니다.
                                                
                                                이번에는 마약 김치볶음밥 만들기를 해보도록 하겠습니다.
                                                <br><br>
                                                SNS를 뜨겁게 달구었던 초간단 자취요리인 김치볶음밥인데요.
                                                일명 마약 김치볶음밥으로 불리는 자취생들의 한끼를 책임지는 필수 레시피 랍니다.
                                                
                                                들어간 음식 재료는 다음과 같습니다.
                                                <br><br>
                                                기본 재료
                                                : 김치, 식용유, 설탕 1/2T, 캔 참치, 고춧가루 1T, 다시다 2/3 T, 올리고당 2T, 계란
                                                <br>
                                                그럼 일반인 요리의 영상을 통해서 마약 김치볶음밥 만드는 법을 알아보도록 하겠습니다.
                                                시작하겠습니다^^
                                        </p>
                                    </div>
                                     </div>
                                     
                                </div>
                        </div>
                    </div>
                </div>
                <!--{% init_counter %}-->
                <!--{% init_delay_counter %}-->
                {% for recipe in all %}

                <!-- Single Post -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-post wow fadeInUp" data-wow-delay="{% delay_counter %}s">
                        <!-- Post Thumb -->
                        <div class="post-thumb">
                        {% comment %} 썸네일 넣는 공간 {% endcomment %}
                            <img src="{{recipe.image_thumbnail.url}}" alt="">
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <div class="post-meta d-flex">
                                <div class="post-author-date-area d-flex">
                                    <!-- Post Author -->
                                    <div class="post-author">
                                        <a href="#">관리자</a>
                                    </div>
                                    <!-- Post Date -->
                                    <div class="post-date">
                                        <a href="#">May 19, 2017</a>
                                    </div>
                                </div>
                                <!-- Post Comment & Share Area -->
                                <div class="post-comment-share-area d-flex">
                                    <!-- Post Favourite -->
                                    <div class="post-favourite">
                                        <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> 10</a>
                                    </div>
                                    <!-- Post Comments -->
                                    <div class="post-comments">
                                        <a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> 12</a>
                                    </div>
                                    {% comment %} 공유기능  {% endcomment %}
                                    {% comment %} <!-- Post Share -->
                                    <div class="post-share">
                                        <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                                    </div> {% endcomment %}
                                </div>
                            </div>
                            <a href="#" onclick="view_user(this)" name="{{forloop.counter}}">
                            {% comment %} 레시피 요리 이름 {% endcomment %}
                                <h6 class="post-headline food-time text-center">걸리는 시간<h6>
                                <h4 class="post-headline text-center">{{recipe.name}}</h4>
                            </a>
                            <div id="popup_user{{forloop.counter}}" class="Pstyle popup_user">
                                <span class="b-close">
                                        <button class="iKon" onclick="byebye()" name="{{forloop.counter}}">x</button>
                                </span>
                                     <div class="content2" style=""> 
                                      <div><h1>김치볶음밥</h1><br></div>
                                      <div >
                                            <iframe 
                                            height="100%" width="100%"
                                            src="{{recipe.convert_to_youtube_embed}}"
                                            frameborder="0" allow="accelerometer; autoplay; encrypted-media;
                                             gyroscope; picture-in-picture" allowfullscreen
                                             style="overflow:hidden;height:400px; width:100%" ></iframe>
                                          
                                     </div>
                                     <div><br><h3>레시피</h3>
                                        <p>
                                            안녕하세요. <br><br>
                                                집에서 할 수 있는 간단한 요리 황금레시피를 알려드리는 일반인입니다.
                                                
                                                이번에는 마약 김치볶음밥 만들기를 해보도록 하겠습니다.
                                                <br><br>
                                                SNS를 뜨겁게 달구었던 초간단 자취요리인 김치볶음밥인데요.
                                                일명 마약 김치볶음밥으로 불리는 자취생들의 한끼를 책임지는 필수 레시피 랍니다.
                                                
                                                들어간 음식 재료는 다음과 같습니다.
                                                <br><br>
                                                기본 재료
                                                : 김치, 식용유, 설탕 1/2T, 캔 참치, 고춧가루 1T, 다시다 2/3 T, 올리고당 2T, 계란
                                                <br>
                                                그럼 일반인 요리의 영상을 통해서 마약 김치볶음밥 만드는 법을 알아보도록 하겠습니다.
                                                시작하겠습니다^^
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
{% for recipe in all %}

                <!-- Single Post -->
                <div class="col-12 col-md-6 col-lg-4 ">
                    <div class="single-post wow fadeInUp" data-wow-delay="{% delay_counter %}s">
                        <!-- Post Thumb -->
                        <div class="post-thumb">
                        {% comment %} 썸네일 넣는 공간 {% endcomment %}
                            <img src="{{recipe.image_thumbnail.url}}" alt="">
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <div class="post-meta d-flex">
                                <div class="post-author-date-area d-flex">
                                    <!-- Post Author -->
                                    <div class="post-author">
                                        <a href="#">관리자</a>
                                    </div>
                                    <!-- Post Date -->
                                    <div class="post-date">
                                        <a href="#">May 19, 2017</a>
                                    </div>
                                </div>
                                <!-- Post Comment & Share Area -->
                                <div class="post-comment-share-area d-flex">
                                    <!-- Post Favourite -->
                                    <div class="post-favourite">
                                        <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> 10</a>
                                    </div>
                                    <!-- Post Comments -->
                                    <div class="post-comments">
                                        <a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> 12</a>
                                    </div>
                                    {% comment %} 공유기능  {% endcomment %}
                                    {% comment %} <!-- Post Share -->
                                    <div class="post-share">
                                        <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                                    </div> {% endcomment %}
                                </div>
                            </div>
                            <a href="#">
                            {% comment %} 레시피 요리 이름 {% endcomment %}
                                <h6 class="post-headline food-time text-center">걸리는 시간<h6>
                                <h4 class="post-headline text-center">{{recipe.name}}</h4>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col-12">
                    <div class="pagination-area d-sm-flex mt-15">
                        <nav aria-label="#">
                            <ul class="pagination">
                                <li class="page-item active">
                                    <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </nav>
                        <div class="page-status">
                            <p>Page 1 of 60 results</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ****** Archive Area End ****** -->

{% endblock content %}
{% block script%}
<script src="{% static 'js/jquery/jquery.bpopup.js' %}"></script>
<script src="{% static 'js/jquery/jquery.bpopup.min.js' %}"></script>
<script>


function view_user(elem) {
    var id = elem.getAttribute("name");
    $("#popup_user".concat(id)).bPopup({ 
            modalClose: false,
            opacity: 0.6,
            positionStyle: 'fixed'
        }); 
    }

function byebye(elem){
    var id = elem.getAttribute("name");
   $("#popup_user".concat(id)).bPopup().close();
}

function hideandshow1() {
    var size =document.getElementsByName("menu").length;

    

    for(var i=0 ; i<size; i++){
    if(document.getElementsByName("menu")[i].style.display === "block") {
        document.getElementsByName("menu")[i].style.display = "none";
    }
    
    else {
        document.getElementsByName("menu")[i].style.display = "block";
    }
}
}

function changebutton() {
    var elem = document.getElementById("addButton");
    if (elem.value=="재료 하나 추가!") elem.value = "원래 재료 보기!";
    else elem.value = "재료 하나 추가!";
}

</script>
{% endblock script%}
